@{
    ViewData["Title"] = "About";
}

<link rel="stylesheet" href="~/css/about.css" />
<div class="info">
    Ne znam kakvo da sloja tuk: <br /> <br />
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at leo sed mauris tincidunt feugiat quis quis diam. Nam lacinia venenatis risus sit amet vestibulum. Donec leo felis, rhoncus nec ornare faucibus, tincidunt in augue. Ut nisl neque, lacinia ut enim non, pellentesque fringilla mi. Nam in malesuada lacus. Nullam gravida risus eu tincidunt viverra. Nam gravida vitae orci vitae aliquam. Curabitur et ipsum mauris.

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec posuere mi. Aenean id dolor massa. Nunc vitae eros mauris. Praesent semper rhoncus lectus, a porta justo sodales pretium. Mauris eu odio risus. Mauris tincidunt accumsan eros vitae dignissim. Morbi at risus non justo varius porta. Fusce ac tristique dolor, in consectetur risus. Ut laoreet ipsum in molestie rutrum. Cras at leo diam. Donec vitae urna in arcu viverra congue.

</div>
