@model SnowboardShop.ViewModels.ShopPageViewModel

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/shop.css" />
<div class="row-fluid">
    @foreach (var product in Model.Products) {
        <div class="col-sm-4" style="margin-bottom: 5rem">
            <div class="card-columns-fluid">
                <div class="card card-block d-flex" style="width: 23rem;">
                    <img class="card-img-bottom" style="width: 100%; height: 15vw; object-fit: cover;" src="~/images/@product.ImageName" alt="@product.Name">
                    <div class="card-body align-items-center">
                        <h2 class="card-text">@product.Name</h2>
                        <h4 class="card-title">$@product.Price</h4>
                        <a asp-route-id="@product.Id" asp-area="" asp-action="Details" asp-controller="Snowboard" class="btn btn-default" role="button">Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
