body {
    background-color: black;
}

.card-img-bottom {
    display: block;
    height: 800px;
    float: left;
}

.details {
    display: block;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: white;
}

.detailsBody {
    width: 40%;
    align-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
    line-height: 80px;
    border: 1px solid #c8c8c8;
}

.detailsBody tr {
    border: 1px solid #c8c8c8;
}

.title {
    font-size: 300%;

    margin-bottom: 80px;
}

.type {
    color: #c8c8c8;
    text-align: left;
    font-size: 200%;
    padding-left: 5%;
}

.value {
    color: white;
    font-size: 200%;
    float: right;
    padding-right: 10%;
}

.description {
    color: #c8c8c8;
    font-size: 200%;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.description:hover {
    background-color: #282828;
    color: white;
}

#descriptionContent {
    font-size: 200%;
    border: hidden;
    background-color: #282828;
    border: none;
}

.addToCart {
    font-size: 200%;
    padding: 20px;
    color: #e6e6e6;
    background-color: #3d175e;
    border-radius: 4px;
}

.addToCart:hover {
    text-decoration: none;
    color: white;
}
