body{
    background-color: black;
}

.bigLogo {
    position: relative;
}

#left {
    position: relative;
    width: 600px;
    left: 50%;
    margin-left:-300px;
    z-index: 1;
    animation-name: leftMove;
    animation-duration: 3s;
}

#right {
    position: relative;
    z-index: 2;
    width: 600px;
    left: 50%;
    animation-name: rightMove;
    animation-duration: 3s;
    transform: translateX(-100%);
}

#name {
    position: relative;
    width: 1500px;
    margin-top: 30px;
    left: 50%;
    margin-left: -750px;
    animation-name: nameFade;
    animation-duration: 6s;

}

@keyframes leftMove {

    from {
        transform: translate(-100%, -100%)
    }

    to {
        transform: translate(0%, 0%)
    }
}

@keyframes rightMove {

    from {
        transform: translate(0%, -100%)
    }

    to {
        transform: translate(-100%, 0%)
    }
}

@keyframes nameFade {

    from {
        opacity: 0;
        
    }

    to {
        opacity: 1;
    }
}



