.navbar {
    padding-left: 10rem;
    padding-right: 10rem;
    background-color: black;
}

.body-content{
    padding-top:5rem;
}

.navbar-nav li .dropdown-menu a {
    margin-bottom: 10px;
    align-content: center;
    vertical-align: middle;
}
.navbar-nav li .dropdown-menu {
    text-align: center;
    background-color: #0a0c0c;
}

#navbarDropdown:focus {
    background-color: #0a0c0c;
}
.navbar-nav li .dropdown-menu a {
    color: grey;
}


.navbar-brand {
    font-size: 100%;
}

.navbar-nav .nav-item a{
    font-size: 200%;
    /*height: 80px;*/
    line-height: 50px;
    width: 150px;
    text-align: center;
    font-family: 'Anton', sans-serif;
}
.navbar-nav li button {
    font-size: 200%;
    line-height: 50px;
    width: 150px;
    text-align: center;
    font-family: 'Anton', sans-serif;
}

.navbar .navbar-nav li a:hover, .navbar-nav li button:hover {
    text-decoration: none;
    color: white;
    /*background-color: black;*/
}

.navbar .navbar-nav  li  a:focus {
    background-color: black;
}

.logo {
    margin-right: 10px;
    width: 8rem;
    height: auto;
}

footer p{
    color: white;
    text-align: center
}
