.row-fluid {
    margin-top: 1rem;
    margin-left: -6rem;
}

body {
    background-color: black;
}

.card-body {
    text-align: center;
    color: #c8c8c8;
}

.card {
    padding-top: 15px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.item, .item:hover, .item:active {
    text-decoration: none;
    font-family: 'Anton', sans-serif;
}


.card:hover {
    background-color: #1e1e1e;
}

h2{
    color: white;
}