<!DOCTYPE html>
<html lang="en">
    <head>
        <title>XSnowboards</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel= "stylesheet" href="../StyleSheets/contacts.css">
        <link rel="stylesheet" href="../StyleSheets/navbar.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton|Fjalla+One|Lilita+One">
        <link rel="shortcut icon" href="../Images/XSnowboards.png" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>

        <!-- Navbar -->
         <nav class="navbar navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="" href="../index.html"><img class = "logo" src="../Images/XSnowboards.png"></a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="../index.html">Home</a></li>
              <li><a href="../Views/about.html">About</a></li>
              <li class="active"><a href="../Views/contacts.html">Contacts</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="../Views/signup.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li><a href="../Views/login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
          </div>
        </nav>
        <!-- End of navbar -->

        <div class="wrapper">
            <div class="schedule">
                    <span class="businesshours"> Business hours <br><br> </span>
                    <span class="day">Monday:</span><span class="hours">9:00 - 17:00</span><br>
                    <span class="day">Tuesday:</span><span class="hours">9:00 - 17:00</span><br>
                    <span class="day">Wednesday:</span><span class="hours">9:00 - 17:00</span><br>
                    <span class="day">Thursday:</span><span class="hours">9:00 - 17:00</span><br>
                    <span class="day">Friday:</span><span class="hours">9:00 - 17:00</span><br>
                    <span class="day">Saturday:</span><span class="hours">9:00 - 14:00</span><br>
                    <span class="day ">Sunday:</span><span class="hours">Closed<br>
            </div>

            <!-- Map embed -->
            <div class="mapbox">
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="700" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=TUES&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                        </iframe>
                        <a href="https://www.pureblack.de">internetseite erstellen lassen</a>
                    </div>
                    <style>.mapouter{text-align:right;height:500px;width:700px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:700px;}</style>
                </div>
            </div>
            <!-- End of map embed -->
        </div>



    </body>
</html>
