@model SnowboardShop.ViewModels.ShoppingCartCheckoutViewModel

@{
    ViewData["Title"] = "Checkout";
}

<link rel="stylesheet" href="~/css/checkout.css" />

<h1>Checkout</h1>

<hr />

<div class="row">
    <div >
        <form asp-action="Checkout">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="ShoppingCartId" class="form-control" />
                <span asp-validation-for="ShoppingCartId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <h1>Total: $@Model.TotalPrice</h1>
            <input type="submit" value="Confirm" class="confirmButton" />
            <a asp-action="Cart" class="backToCart">Back to Cart</a>
        </form>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
