.navbar{
    margin-top: 15px;
    margin-left: 0px;
    background-color: black;

}

.navbar-brand{
    font-size: 150%;
}

.navbar .navbar-nav > li > a {
    color: white;
    font-size: 200%;
    height: 80px;
    line-height: 40px;
    width: 150px;
    text-align: center;
    font-family: 'Anton', sans-serif;
}

.navbar .navbar-nav > li > a:hover {
    color: grey;
    background-color: black;
    &:hover, &:focus, &:active {
     color: #18BC9C;
     background-color: transparent;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     box-shadow: none;
   }
}

li.active a:only-child {
    color: grey;
}

.logo{
  margin-right: 10px;
  width: 15ex;
  height: auto;
}
